@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500;700&display=swap');


.character__details {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
}

.details__episode {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.red {
    color: red;
}

.green {
    color: green
}