@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 210px 10px 210px;
    box-shadow: -2px 0px 8px 2px rgba(0, 0, 0, 0.10);
    margin-bottom: 16px;
}

.nav-menu__links {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

a:hover {
    color: grey;
}

.nav-menu__logo {
    cursor: pointer;
}

.links__link {
    text-transform: capitalize;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    font-family: Karla;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.active {
    border-bottom: 1px black dashed;
}