@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.character__info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 30px;
    flex-shrink: 0;
}
.switchers {
    margin: 0 auto;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.switchers span {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
}